html {
    background-color:rgba(175, 238, 238, 0.445);
}
header span {
    color: blue;
}
nav {
    background: black;
}
nav a {
    color: white;
}

nav a:hover {
    background: grey;
}

h1,h2,p, li {
    color: grey;
}
footer {
    background-color: grey;
    color: azure;
}